{% extends 'base.html.twig' %}

{% block body %}
    <div class="fail">
        <iframe src="https://giphy.com/embed/3ohzdQ1IynzclJldUQ" width="480" height="310" frameBorder="0"
                class="giphy-embed" allowFullScreen>
        </iframe>
    </div>

{% endblock %}