{% include 'base.html.twig' %}

{% block body %}
    <div class="container align_text hr_space">
        <ul class="list-group list-group-flush">
            {{ form_start(myForm)}}
            {{ form_widget(myForm)}}
            {{ form_end(myForm)}}
        </ul>
    </div>
{% endblock %}