{% extends 'base.html.twig' %}

{% block body %}
    <div class="card container text-center">
        <ul class="list-group list-group-flush">
            {{ form_start(myDealershipForm)}}
            {{ form_widget(myDealershipForm)}}
            {{ form_end(myDealershipForm)}}
        </ul>
    </div>
{% endblock %}